/*
@font-face {
    font-family: Passion;
    src: url(https://fonts.gstatic.com/s/passionone/v6/fY6k21F1QT2c_Oc3HRNDwiYE0-AqJ3nfInTTiDXDjU4.woff2);
}
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* TODO: replace binary breakpoints with more .less */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color:#c6473e;
}

/* adjusting the Bootstrap grid gutter */
.col-xl-2 {
  padding-left:  10px;
  padding-right: 10px;
}

.multicolorCheckbox {
  border-radius: 10px;
  /*background-color:#E5D3B8;*/
  background-color:#ffe0b3;
  /*border: 1px solid #B7A893;*/
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5% 5% 5% 5%;
  overflow: auto;
  width: 100;
}

.checkboxChoice {
  float:left;
  margin:0px;
  background-color:#404040;
  border:2px solid #A09380;
  overflow:auto;
}

/*
.multicolorCheckbox .checkboxChoice:hover {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  opacity: 0.75;
  cursor: pointer;
}
*/

.multicolorCheckbox .checkboxChoice span {
  position:relative;
  top:50%;
  transform:translateY(-50%);
  color:white;
  font-weight:bold;
  text-align:center;
  display:block;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
}

.multicolorCheckboxSetName {
  font-size: 18px;
}

.hoverable:hover {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  opacity: 0.9;
  cursor: pointer;
}

.notHoverable:hover {
  cursor: default;
}

.chart {
  width: 85%;
  margin: auto;
}

.target {
  border-top-left-radius:20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 2px solid black;
  margin-top: 5px;
  background-color: #ffebcc;
}

.category {
}

.targetBody {
  border-top: 2px solid black;
}

.categoryBody {
  /*border-top: 2px solid black;*/
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 2px solid #ffd699;
}

.chartName {
  color: white;
  font-family: Cambria,Georgia,serif;
  padding-top: 10px;
  padding-bottom: 0px;
  position: relative;
}

.targetName {
  width: 100%;
  padding-left: 15px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.targetName h1, h2, h3, h4, h5 {
  margin-bottom: 2px;
}

.categoryName {
  width: 100%;
  padding-left: 15px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  border-bottom: 2px solid #ffd699;
}

.categoryName h1, h2, h3, h4, h5 {
  margin-bottom: 2px;
}

details summary {
  font-size: 18px;
  outline: none;
}

details summary:hover {
  cursor: pointer;
}

.checkboxChoice input {
  display: none;
}

.checkboxChoice.white {
  background-color:#FFFFFF;
}

.checkboxChoice.black {
    background-color:#404040;
}

.checkboxChoice.red {
    background-color:#c0392b;
}

.checkboxChoice.orange {
    background-color:#e67e22;
}

.checkboxChoice.yellow {
    background-color:#f1c40f;
}

.checkboxChoice.green {
    background-color:#2ecc71;
}

.checkboxChoice.blue {
    background-color:#2980b9;
}

.checkboxChoice.pink {
    background-color:#9b59b6;
}

/* New stuff here */
.singleColorCheckboxSet {
  width: 90%;
}

.controlText {
  display: block;
  text-align: center;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
  cursor: default;background-color
}

.leftControlText {
  float: left;
}

.rightControlText {
  float: right;
}

.colorSelectBox {
  display: block;
  padding: 0px;
  width: 100%;
}

.checkboxSelectBox {
  display: block;
  padding: 0px;
  width: 100%;
}

.checkboxSelectChoice {
  display: block;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  text-align: center;
  background-color: white;
}

.checkboxSelectChoice span {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
}

/*
.checkboxSelectChoice:hover {
  cursor: pointer;
  box-shadow: 0px 0px 3px grey;
}
*/

.colorSelectChoice:hover {
  cursor: pointer;
  box-shadow: 0px 0px 3px grey;
  opacity: 0.9;
}

.colorSelectChoice {
  display: inline;
  width: 16.6%;
  height: 25px;
  border-style: solid;
  border-width: 1px;
  border-color: #A09380;
  margin: 0px;
  float: left;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
}

.colorSelectChoice span {
  text-align: center;
  position:relative;
  top:50%;
  transform:translateY(-50%);
  display: block;
}

.colorSelectChoice input[type="radio"] {
  display: none;
}

.checkboxSelectChoice.top {
  border-top-left-radius:  5px;
  border-top-right-radius: 5px;
}

.checkboxSelectChoice.bottom {
  border-bottom-left-radius:  5px;
  border-bottom-right-radius: 5px;
}

.colorSelectChoice.left {
  border-top-left-radius:    5px;
  border-bottom-left-radius: 5px;
}

.colorSelectChoice.right {
  border-top-right-radius:    5px;
  border-bottom-right-radius: 5px;
}

/*
.checkboxSelectChoice.white {
  background-color:#FFFFFF;
}

.checkboxSelectChoice.black {
    background-color:#404040;
}

.checkboxSelectChoice.red {
    background-color:#FF0000;
}

.checkboxSelectChoice.orange {
    background-color:#FF7200;
}

.checkboxSelectChoice.yellow {
    background-color:#FFFF00;
}

.checkboxSelectChoice.green {
    background-color:#00FF00;
}

.checkboxSelectChoice.blue {
    background-color:#0000FF;
}

.checkboxSelectChoice.pink {
    background-color:#FF00FF;
}
*/

.checkboxSelectChoice.white {
  background-color:#FFFFFF;
}

.checkboxSelectChoice.black {
    background-color:#404040;
}

.checkboxSelectChoice.red {
    background-color:#c0392b;
}

.checkboxSelectChoice.orange {
    background-color:#e67e22;
}

.checkboxSelectChoice.yellow {
    background-color:#f1c40f;
}

.checkboxSelectChoice.green {
    background-color:#2ecc71;
}

.checkboxSelectChoice.blue {
    background-color:#2980b9;
}

.checkboxSelectChoice.pink {
    background-color:#9b59b6;
}

.colorSelectChoice.white {
  background-color:#FFFFFF;
}

.colorSelectChoice.black {
    background-color:#404040;
}

.colorSelectChoice.red {
    background-color:#c0392b;
}

.colorSelectChoice.orange {
    background-color:#e67e22;
}

.colorSelectChoice.yellow {
    background-color:#f1c40f;
}

.colorSelectChoice.green {
    background-color:#2ecc71;
}

.colorSelectChoice.blue {
    background-color:#2980b9;
}

.colorSelectChoice.pink {
    background-color:#9b59b6;
}

/* 2D Checkbox-oriented stuff */
.visibleBorder {
  border: 2px solid black;
}

/*
.visibleBorder:hover {
  cursor: pointer;
}
*/

td {
  width: 14.25%;
  height: 14.25%;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
}

td:hover {
  cursor: default;
}

table {
  width: 100%;
  height: 15vw;
  /*border-collapse: collapse;*/
  border-spacing: 0px;
}

.twoDCheckbox td {
  padding:0px;
  margin:0px;
  border-collapse:collapse;
}

.twoDCheckbox {
  border-spacing:0px;
  border-collapse:collapse;
}

.visibleBorder {
  width: 100%;
  height: 100%;
  border: solid 1px black;
}

.visibleBorder.topLeft {
  border-top-left-radius: 5px;
}

.visibleBorder.topRight {
  border-top-right-radius: 5px;
}

.visibleBorder.bottomLeft {
  border-bottom-left-radius: 5px;
}

.visibleBorder.bottomRight {
  border-bottom-right-radius: 5px;
}

.topText {
  text-align: center;
  float: bottom;
}

.bottomText {
  text-align: center;
  float: top;
}

.leftVerticalText {
  text-align: center;
  float: right;
  writing-mode: vertical-rl;
  transform: scale(-1, -1);
}

.rightVerticalText {
  text-align: center;
  float: left;
  writing-mode: vertical-rl;
}

.visibleBorder.white {
  background-color:#FFFFFF;
}

.visibleBorder.black {
    background-color:#404040;
}

.visibleBorder.red {
    background-color:#c0392b;
}

.visibleBorder.orange {
    background-color:#e67e22;
}

.visibleBorder.yellow {
    background-color:#f1c40f;
}

.visibleBorder.green {
    background-color:#2ecc71;
}

.visibleBorder.blue {
    background-color:#2980b9;
}

.visibleBorder.pink {
    background-color:#9b59b6;
}

/*new border functionality*/
.activeBorder {
  position: relative;
  border: 3px solid black;
}

/*title*/
.chartName table {
  color: white;
  width: auto;
  height: auto;
  min-width: 0;
  display:table;
}

.chartName td {
  /*border: 1px solid blue;*/
  font-family: 'Montserrat', sans-serif;
  font-weight: black;
  width: auto;
  height: auto;
}

.titleText {
  display: inline-block;
}

.versionInfo {
  clear: both;
  position: relative;
  float: right;
  display: inline-block;
}

.theTd {
  vertical-align:bottom;
  text-align:center;
}

.ultimateTd {
  vertical-align:bottom;
}

.infographTd {
  vertical-align:top;
}

.chartVersionTd {
  text-align:right;
}

.webVersionTd {
  text-align:right;
}

.paddingTd {
  height: 10px;
}

.chartName td h1 {
  font-size: 80px;
  margin: 0px;
  padding: 0px;
}

.chartName td h2 {
  font-size: 29px;
  margin: 0px;
  margin-left: 5px;
}

/*download button styling*/

.chartFooter {
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

button {
  border: 2px solid black;
  background: white;
  border-radius: 5px;
  height: 35px;
  width: 115px;
  display: inline-block;
  outline: none;
}

button:hover {
  box-shadow: 0px 0px 3px grey;
}

.footerButtons {
  display: inline-block;
}

.multicolorCheckboxFooter {
  font-size: 13px;
}

.errorMessage.on {
  display: inline-block;
}

.errorMessage.off {
  display: none;
}

.errorMessage {
  background-color: #ffb84d;
  opacity: 0.75;
  border: 2px solid orange;
  border-radius: 5px;
  display: inline-block;
  height: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
